.buildkite-project {
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
    border-radius: 6px;
    white-space: nowrap;
    font-size: 14px;
}

.project-status {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.project-status.success {
    background-color: green;
    background: url("/images/success.svg");
    background-size: 16px 16px, cover;
}

.project-status.failure {
    background-color: red;
    background: url("/images/failure.svg");
    background-size: 16px 16px, cover;
}

.project-activity {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.project-activity.building {
    background-color: yellow;
}

.project-activity.sleeping {
    background-color: transparent;
}

.project-name {
    display: inline;
    color: black;
    margin: 4px;
}

.error {
    color: red;
}
