.buildkite-project {
    border: 1px solid #ddd;
    margin: 4px;
    border-radius: 3px;
    white-space: nowrap;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    vertical-align: middle;
    display: flex;
    padding: 4px;
}

.project-status {
    display: flex;
    width: 20px;
    height: 20px;
    background-size: 20px 20px, cover;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 10px;
}

.project-status.success {
    background: url("/images/success.svg");
    background-size: 20px 20px, cover;
    
}

.project-status.failure {
    background: url("/images/failure.svg");
    background-size: 20px 20px, cover;
}

.project-activity {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-top: 4px;
    margin-left: 4px;
}

.project-activity.building {
    background: url("/images/building.svg");
    background-size: 20px 20px, cover;
}

.project-activity.sleeping {
    background-color: transparent;
}

.project-name {
    display: flex;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    color: #333;
    min-height: 20px;
    min-width: 20px;
    border-radius: 10px;
    margin: 0 4px;
}

.project-name a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333;
    line-height: 1.5;
}

.project-name a:hover {
    text-decoration: underline;
}

.error {
    color: red;
}
